<%- include('../partials/header') %>

<table id="list">
    <thead>
        <tr>
            <th>Dairy</th>
            <th>Produce</th>
            <th></th>
        </tr>
    </thead>
</table>

<%- include('../partials/footer') %>