<%- include('../partials/header') %>

<h2>Enter Grocery List:</h2>
<form action="/groceries" method="POST">
  <label>Dairy: <input type="text" name="dairy" /> </label><br />
  <label>Produce: <input type="text" name="produce" /> </label><br />
  <label>Snacks: <input type="text" name="snacks" /> </label><br />
  <label>Seasonings: <input type="text" name="seasonings"/> </label><br />
  <label>Bakery: <input type="text" name="bakery"/></label><br />
  <label>Meats: <input type="text" name="meats"/></label><br />
  <button type="submit">Add Groceries</button>
</form>

<%- include('../partials/footer') %>
