<%- include('../partials/header') %>

<section id="show">
    
    <h4>Grocery List</h4>

    <p>Dairy: <span>grocery here</span></p>
    <p>Produce: <span>produce here</span></p>
    <p>Snacks: <span>snacks here</span></p>

</section>

<section>
    <h4>Add more items to your list</h4>
    
</section>


<%- include('../partials/footer') %>